@import "tailwindcss";

@theme {
  --font-rubik: "Rubik", sans-serif;
}

body {
    font-family:var(--font-rubik);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
  }

  . animate-float-slow {
    animation: float 6s ease-in-out infinite;
  }

  .animate-float-medium {
    animation: float 4s ease-in-out infinite;
  }

  .animate-float-fast {
    animation:  float 3s ease-in-out infinite;
  }
}
